# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments (common folder names)
venv/
env/
.venv/
.env/

# Pytest cache and coverage
.pytest_cache/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Profiling data
.prof

# pipenv (optional)
pipenv-*
