# ============================
# Priority files
# ============================
!.keep
!environment/containers/
!data/sources/**/*.csv
!mise.*

# ============================
# Private files
# ============================
.env/
secrets/
# ============================
# Temporary files and caches
# ============================

[Bb]uild/
[Cc]ache/
[Dd]ist/
[Ll]og/
**/[Ll]og/
**/[Ll]ogs/**
[Tt]emp/
[Tt]mp/
[aA]rchive/
*.bac
*.bak
*.log
*.sw[a-p]
*.tmp
*~
.DS_Store
tags

# ============================
# Direnv
# ============================
.direnv/
.envrc
.env.example

# ============================
# Editor and IDE files
# ============================
!.vscode/
*.code-workspace
